<footer>
  <h3 class="hidden">Other Info</h3>
  <p>
    If you like what I am up to, feel free to contribute to help me produce more.<br>
    <strong>BITCOIN:</strong> 1MhY2TFPTsG78m7u6KfigsEY9t3t5tS4g7
  </p>
  <p>
    Thanks. contact (at) thecultivation.org.uk
  </p>
</footer>