<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The Cultivation</title>
  <meta name="description" content="Reggae, Dub and other Art.">
  <meta name="keywords" content="Reggae, Dub, Art">
  <meta name="author" content="The Cultivation">
  <!--<script type="text/javascript" src="js/ext/modernizr/2.7.2/modernizr.min.js"></script>-->
  <!--<script type="text/javascript">
    console.log("media query supported: " + Modernizr.mq('only all'));
    console.log("hello!");
  </script>-->
  <!--<script type="text/javascript" src="js/index.js"></script>-->
  <link href="css/main.css" rel="stylesheet">
</head>
<body>
  {{{body}}}
</body>
</html>