<div id="container">
  {{> header}}
  <section id="content">
  <h2 class="hidden">Content</h2>
  <p>I produce Reggae/Dub tracks and other Art with the aim of providing something beneficial to share with others.</p>
  <section id="audio-items">
    <h3 class="hidden">Audio Items</h3>
    <ul>
    <li>
      <article id="St Maximilian" class="audio-track">
        <header>
          <h4 class="title">St Maximilian</h4>
          <time class="hidden" itemprop="datePublished" datetime="2014-04"/>
        </header>
        <audio controls>
          <source src="audio/St Maximilian.ogg" type="audio/ogg">
          <source src="audio/St Maximilian.mp3" type="audio/mp3">
          Your browser does not support the <code>audio</code> element.
        </audio>
        <p class="download">Download <a href="audio/St Maximilian.mp3" class="download-link">mp3</a> or <a href="audio/St Maximilian.flac" class="download-link">flac</a>.</p>
      </article>
    </li>
    <li>
      <article id="Soldier" class="audio-track">
        <header>
          <h4 class="title">Soldier</h4>
          <time class="hidden" itemprop="datePublished" datetime="2014-04"/>
        </header>
        <audio controls>
          <source src="audio/Soldier.ogg" type="audio/ogg">
          <source src="audio/Soldier.mp3" type="audio/mp3">
          Your browser does not support the <code>audio</code> element.
        </audio>
        <p class="download">Download <a href="audio/Soldier.mp3" class="download-link">mp3</a> or <a href="audio/Soldier.flac" class="download-link">flac</a>.</p>
      </article>
    </li>
  </ul> 
  </section>
  {{> footer}}
</section>
</div>
